body {
    background-color: #1C1C1C;    
    color: #ffff;
    font-family:'Courier New', Courier, monospace;
    padding: 24px;
}

.title {
    font-size: 28px;
    color:#00ff7f
}

.list-item {
    margin-bottom: 24px;
}

input {
    height: 32px;
    background-color: transparent;
    color: white;
    border-color: #00ff7f;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
}

button {
    font-size: 16px;
    padding: 14px;
    background-color: #228b22;
    border-width: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;

}